.header {
    background-color: #523170;
    text-align: center;
  }  

.current {
    display: flex;
    border: 2px solid black;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin: 5rem 5rem;
  }

.current h2 {
    
  }

.five-day-forecast {
    display: flex;
    border: 2px solid black;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin: 5rem 5rem;
  }

.search-area {
    display: flex;
    border: 2px solid black;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin: 5rem 5rem;
  }

#city-choice {
    display: flex;
  }

@media screen and (min-width: 768px) {
    /* tablet size */
  }

@media screen and (min-width: 992px) {
    /* desktop and up */
  }