html {
background-color: #523170;
  }

.header {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.5rem;
    color: #625370;
    background-color: #d4b3f2;
    text-align: center;
    padding: 1rem;
  }  

.current {
    display: flex;
    border-radius: 0.5rem;
    background-color: #d4b3f2;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin: 5rem 5rem;
  }

#city-choice {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 3rem;
    
  }

.five-day-forecast {
    display: flex;
    border-radius: 0.5rem;
    background-color: #d4b3f2;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin: 5rem 5rem;
  }

.search-area {
    display: flex; 
    border-radius: 0.5rem;
    background-color: #d4b3f2;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin: 5rem 5rem;
  }

#city-choice {
    display: flex;
  }

@media screen and (min-width: 768px) {
    /* tablet size */
  }

@media screen and (min-width: 992px) {
    /* desktop and up */
  }